body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    text-align: center;
}

h2{
    margin-top: 0;
}

p{
    margin-bottom: 0;
}

